/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require devise_bootstrap_views
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
background: rgba(255,255,255,1);
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(155,222,243,0.69) 50%, rgba(255,255,255,0.37) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(155,222,243,0.69)), color-stop(100%, rgba(255,255,255,0.37)));
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(155,222,243,0.69) 50%, rgba(255,255,255,0.37) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(155,222,243,0.69) 50%, rgba(255,255,255,0.37) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(155,222,243,0.69) 50%, rgba(255,255,255,0.37) 100%);
background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(155,222,243,0.69) 50%, rgba(255,255,255,0.37) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 45px;
    width: 45px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}
.show_user{
    padding: 20px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    box-shadow: 4px -1px 100px white;
}

.user_padding{
    padding-bottom: 40px;
}